/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Tutorials.iml
/.idea/vcs.xml
/.idea/yt_tutorials.iml
/models/
/PyTorch/mnist_ds/
/PyTorch/.ipynb_checkpoints/
